{% extends "layout.html" %}

{% block title %}pDNS{% endblock %}

{% block content %}

<div class="container">
<div class="row mb-3">
    <div class="col-md-12">
    {% for message in get_flashed_messages() %}
    <div class="alert alert-info" role="alert">{{ message }}</div>
    {% endfor %}

    <form action="{{ url_for('gui.query') }}" method=post class=query role="form">
        <div class="form-group">
            <label for="input.query">Query</label>
            <input type=text size=64 id=input.query name="query" autocapitalize="none" value="{{ q or ''}}" class="form-control" placeholder="Enter query here (use * as wildcard)">
        </div>
        <div class="form-check">
            <input type=checkbox class="form-check-input" id=input.rdata name="rdata" {% if rdata %}checked="checked"{% endif %} value="1">
            <label class="form-check-label" for="input.rdata">Rdata</label>
            <span>(for names: query the &quot;right hand side&quot; <a href="https://www.farsightsecurity.com/txt-record/2015/03/11/stsauver-rrset-rdata/">?</a>)</span>
        </div>
        <button type=submit class="btn btn-success mt-2 mb-2">Go</button>
    </form>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
    {% if data %}
    <table class="table">
        <tbody>
            <tr>
                <td>Current time</td>
                <td>{{ stats.current_time }}</td>
            </tr>
            <tr>
                <td>Most recent timestamp in DB</td>
                <td>{{ stats.most_recent }}</td>
            </tr>
            {% if data|length > 4 %}
            <tr>
                <td>Number of results</td>
                <td>{{ data|length }}</td>
            </tr>
            {% endif %}
        </tbody>
    </table>
    <table class="table table-striped table-sortable">
        <thead>
            <tr>
                <th>First seen</th>
                <th>Last seen</th>
                <th>Hitcount</th>
                <th>Name</th>
                <th>Value</th>
                <th>Type</th>
            </tr>
        </thead>
        <tbody>
            {% for record in data %}
            <tr>
                <td>{{ record.time_first }}</td>
                <td>{{ record.time_last }}</td>
                <td>{{ record.hitcount }}</td>
                <td><a href="{{ url_for('gui.query', q=record.rrname, rdata=rdata) }}">{{ record.rrname|safe }}</a></td>
                <td><a href="{{ url_for('gui.query', q=record.rdata, rdata=rdata) }}">{{ record.rdata|safe }}</a></td>
                <td>{{ record.rrtype }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <div class="alert alert-info" role="alert">
        No data or no query
    </div>
    {% endif %}
    </div>
</div>
</div>

{% endblock %}
