<!doctype html>
<html class="no-js" lang="">

<head>
  <meta charset="utf-8">
  <title>{% block title %}{% endblock %} - woohoo</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">

  <script src="{{ url_for('static', filename='js/vendor/modernizr-3.7.1.min.js') }}"></script>

  <meta name="theme-color" content="#fafafa">
</head>

<body>
  <!--[if IE]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
  <![endif]-->
<nav class="navbar navbar-dark bg-dark navbar-fixed-top" role="navigation">
  <div class="container">
    <a class="navbar-brand" href="#">woohoo pDNS</a>
  </div>
</nav>

<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
  <div class="container">
    <h1 class="display-4 pb-1">woohoo pDNS</h1>
    <p class="lead pt-1">This is the GUI for the woohoo pDNS system.</p>
    <!-- <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p> -->
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      {% block content %}{% endblock %}
    </div>
  </div>

  <hr>

  <footer>
    <p>&copy; woohoo.ch 2019</p>
  </footer>
</div> <!-- /container -->
  <script src="{{ url_for('static', filename='js/vendor/modernizr-3.7.1.min.js') }}"></script>

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
  <script>window.jQuery || document.write('<script src="js/vendor/jquery-3.4.1.min.js"><\/script>')</script>

  <script src="{{ url_for('static', filename='js/vendor/bootstrap.min.js') }}"></script>

  <script src="{{ url_for('static', filename='js/plugins.js') }}"></script>
  <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>

</html>
